@use 'sass:color';
@use '../../../styles/vars' as *;
@use '../../../styles/mixins' as *;

.select {
	& .container {
		position: relative;

		& .buttonContainer {
			display: inline-block;
			width: 100%;
		}
	}
}

.title {
	display: block;
	font-size: small;
	color: $on-bg;
}

.selectButton {
	display: relative;
	background: $bg;
	color: $on-bg;
	padding: $spacing;
	@include border;
	display: flex;
	gap: 1rem;
	align-items: center;

	& .buttonDescription {
		display: block;
	}

	& .buttonIcon {
		right: 0;
		display: flex;
		align-items: center;
		& svg {
			width: 20px;
			height: 20px;
		}
	}
}

.transition {
	position: absolute;
	width: 100%;

	& .leaveTo {
		opacity: 0;
	}

	& .leaveFrom {
		opacity: 100;
	}
}

.selectOptions {
	max-height: 30vh;
	overflow: auto;
	list-style-type: none;
	position: fixed;
	z-index: 100;
	background: $bg;
	@include border;
	padding: 0;
	isolation: isolate;
}

.option {
	padding: $spacing;
	display: flex;
	justify-content: space-between;
	user-select: none;
	cursor: pointer;

	& .optionIcon {
		& svg {
			width: 20px;
			height: 20px;
		}
	}
}

.activeOption,
.option:hover {
	background: $primary;
	color: $on-primary;
}
