@use 'sass:color';
@use '../../../styles/vars' as *;
@use '../../../styles/mixins' as *;

.container {
	display: inline-block;
	position: relative;
}

.selectButton {
	position: relative;
	display: flex;
	align-items: center;
	gap: 1rem;
	background: $bg;
	color: $on-bg;
	padding: $spacing;
	@include border;

	& .buttonDescription {
		display: block;
		width: max-content;
		flex-grow: 1;
	}

	& .buttonIcon {
		right: 0;
		display: flex;
		align-items: center;
		& svg {
			width: 20px;
			height: 20px;
		}
	}
}

.selectOptions {
	max-height: 30vh;
	position: fixed;
	z-index: 100;
	isolation: isolate;
	overflow: auto;
	list-style-type: none;
	background: $bg;
	@include border;
	padding: 0;
}

.option {
	padding: $spacing;
	display: flex;
	justify-content: space-between;
	user-select: none;
	cursor: pointer;

	& .optionIcon {
		& svg {
			width: 20px;
			height: 20px;
		}
	}
}

.activeOption,
.option:hover {
	background: $primary;
	color: $on-primary;
}
