@use '../../../../styles/vars' as *;
@use '../../../../styles/mixins' as *;

.container {
	display: flex;
	justify-content: space-between;
	border-bottom: $border;
	padding: 1rem;
	gap: 10%;
}

.loginContainer {
	position: relative;
}

.btnsContainer {
	display: flex;
	gap: 1rem;
}
