@use '../../../../styles/vars' as *;
@use '../../../../styles/mixins' as *;

.container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	border-bottom: $border;
	padding: 1rem;
	gap: 1rem;
}

.leftContainer {
	display: flex;
	gap: 1rem;
	align-items: stretch;
}

.loginContainer {
	position: relative;
}

.btnsContainer {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.menuButton svg {
	scale: 1.25;
	height: 100%;
	aspect-ratio: 1;
}
