@use '../../../../styles/vars' as *;
@use '../../../../styles/mixins' as *;

.container {
	display: flex;
	justify-content: space-between;
	border-bottom: $border;
	padding: 1rem;
	gap: 10%;
}

.logo {
	font-weight: 700;
	font-weight: 5rem;
}

.searchContainer {
	position: relative;
	flex-grow: 1;
	&:focus-within .searchResults {
		visibility: visible;
	}
}

.searchBar {
	width: 100%;
}

.searchResults {
	visibility: hidden;
	transform: translateY(10px);
	position: absolute;
	background: $bg;
	z-index: 1;
	@include border;
	width: 100%;
	& * {
		@include txtOverflow(1);
	}
}

.loginContainer {
	position: relative;
}

.btnsContainer {
	display: flex;
	gap: 1rem;
}
