@use '../../../../styles/vars' as *;
@use '../../../../styles/mixins' as *;

.outsideContainer {
	display: flex;
	width: 100vw;
	overflow: auto;
	border-bottom: $border;
	padding: $spacing $spacing;
}

.insideContainer {
	width: 100%;
	display: flex;
	align-items: center;
	gap: $spacing;
}
