@use '../../../styles/vars' as *;
@use '../../../styles/mixins' as *;

.input {
	@include border;
	padding: 10px;
	background-color: $bg;
	color: $on-bg;
}

.error {
	border: 2px solid $error;
	&::placeholder {
		color: $error;
	}
}
