@use '../../../../styles/vars' as *;
@use '../../../../styles/mixins' as *;

.container {
	border-bottom: $border;
	padding: 10px;
	display: flex;
	gap: 1rem;
	width: 100%;
	flex-wrap: wrap;
}

.checkboxes,
.form,
.nav {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

.form {
	flex-grow: 1;
	// flex-wrap: wrap;
}

.titleContainer {
	flex-grow: 1;
	flex-basis: 100%;
	min-width: 100px;
	& input {
		width: 100%;
	}
}

.nav * {
	width: max-content;
}

.switch {
	display: flex;
	flex-direction: column;
	& label {
		font-size: 0.9rem;
		font-weight: 500;
	}
}
