@use '../../../../styles/vars' as *;

.tags {
	display: flex;
	flex-direction: column;
	width: fit-content;
	max-width: 20vw;
	border-right: $border;
	padding: 1rem;
	gap: 1rem;
	max-width: 25vw;
	& * {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

.addTagContainer {
	display: flex;
	flex-direction: column;
}
