@use '../../../../styles/vars' as *;
@use '../../../../styles/mixins' as *;

.container {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: fit-content;
	width: 60vw;
	height: 100vh;
	transform: translateX(-100%);
	transition: transform 0.2s ease-in-out;
	border-right: $border;
	background: $bg;
	padding: 1rem 0 0 1rem;
	gap: 1rem;
}

.closeButton {
	width: min-content;
	display: flex;
	& svg {
		scale: 1.25;
	}
}

.containerOpen {
	transform: translateX(0);
}

.scrollableContainer {
	display: flex;
	flex-direction: column;
	width: fit-content;
	gap: 1rem;
	padding: 0 1rem 1rem 0;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
	& * {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		flex: 0 0 fit-content;
	}
}

.addTag {
	display: flex;
	flex-direction: column;
	@include border;
	padding: 10px;
	gap: 10px;
}

@media (min-width: 768px) {
	.container {
		max-width: min(250px, 25vw);
	}
}
