@use '../../../styles/vars' as *;

.noteContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.contentContainer {
	width: 100%;
	height: 100%;
	display: flex;
}

.editorContainer {
	width: auto;
	height: 100%;
}

.resizeBar {
	width: 10px;
	background: $bg;
	border: 2px solid $primary;
	cursor: col-resize;
	user-select: none;
	&:hover {
		background: $surface;
	}
}
